<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">

<h1 id="nombre">Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns" style="margin: 15px">
<div class="card pullDown cardO" *ngFor="let heroe of heros">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre" (click)="mostrarMas(heroe.nombre)">
    <div class="card-body {{heroe.nombre}}">
      <h4 class="card-title" id="titulo">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <div align="center">
        <button class="btn btnMostrarMas" (click)="mostrarMas(heroe.nombre)">Mostrar más</button>
      </div>
    </div>
  </div>
  <div class="card pullDown cardO">
    <div align="center">
      <img class="card-img-top" id="agregarImg" src="../../../assets/img/agregar.png" (click)="agregarHeroe()">
    </div>
    <div class="card-body AgregarHeroe">
      <h4 class="card-title" id="titulo">Agregar héroe</h4>
      <p class="card-text">Agrega un nuevo héroe Marvel o DC o crea tu propio Héroe.</p>
      <div align="center">
        <button class="btn btnMostrarMas" (click)="agregarHeroe()">Agregar</button>
      </div>
    </div>
  </div>
</div>

