<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
<img [routerLink]="['../']" class="pulse btnBack" src="../../../../assets/img/back.png" alt="Back img">
<div id="container">
  <div class="row">
    <div class="col slideDown infoHero">
        <p id="titulo">Nombre</p>
        <p id="nombre">{{heroe.nombre}}</p>
    </div>
    <div class="col slideDown infoHero">
        <p id="titulo">Aparición</p>
        <p id="biotxt">{{heroe.aparicion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col slideDown infoHero">
      <div>
        <p id="titulo">Imagen</p>
        <img id="imagen" src={{heroe.img}} alt="Heroe IMG">
      </div>
      <div align="center">
        <p id="titulo">Casa</p>
        <img id="imagen" src="../../../../../assets/img/marvel-logoo.png" alt="Marvel IMG">
        <img id="imagen" src="../../../../../assets/img/dc-logoo.png" alt="DC IMG">
      </div>
    </div>
    <div class="col slideDown infoHero"> 
      <p id="titulo">Información</p>
      <p id="biotxt">{{heroe.bio}}</p>       
    </div>
  </div>
  <div class="row">
    <div class="col" align="center">
      <img class="card-img-top" 
      style="padding: 0px;
      margin: 50px 0px;
      width: 100px;
      height: 100px;" 
      src="../../../assets/img/agregar.png" (click)="agregarHeroe()">   
    </div>   
  </div>
</div>