<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
<img [routerLink]="['../']" class="pulse btnBack" src="../../../../assets/img/back.png" alt="Back img">
<div id="container" *ngIf="entrar">
  <div class="row">
    <div class="col {{heroe.nombre}} slideDown infoHero">
        <p id="nombre">{{heroe.nombre}}</p>
    </div>
    <div class="col {{heroe.nombre}} slideDown infoHero">
        <p id="titulo">Aparición</p>
        <p id="biotxt">{{heroe.aparicion}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col slideDown infoHero" id="{{heroe.casa}}">
      <img id="imagen" src={{heroe.img}} alt="Heroe IMG">  
    </div>
    <div class="col {{heroe.nombre}} slideDown infoHero"> 
      <p id="titulo">Información</p>
      <p id="biotxt">{{heroe.bio}}</p>       
    </div>
  </div>
</div>
<div *ngIf="!entrar" align=center>
  <img src="../../../../assets/img/alert.png" class="pulse" alt="alert img">
<p id="nombre">Héroe no encontrado</p>
</div>