<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" role="navigation">
  <a class="navbar-brand">
    <img src="/assets/img/A-64.png" width="75" height="75">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['heros']">Heros</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input #palabra class="form-control mr-sm-2" (keyup)="buscador(palabra.value)" type="search" placeholder="Buscar" aria-label="Search">
    </form>
  </div>
</nav>
