<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
<h1 *ngIf="entrar" id="nombre">Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="card-columns" style="margin: 15px" *ngIf="entrar">
<div class="card pullDown cardO" *ngFor="let heroe of heros">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre" (click)="mostrarMas(heroe.nombre)">
    <div class="card-body {{heroe.nombre}}">
      <h4 class="card-title" id="titulo">{{heroe.nombre}}</h4>
      <p class="card-text">{{heroe.bio}}</p>
      <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
      <div align="center">
        <button class="btn btnMostrarMas" (click)="mostrarMas(heroe.nombre)">Mostrar más</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!entrar" align=center>
  <img src="../../../../assets/img/alert.png" class="pulse" alt="alert img">
<p id="nombre">Héroe no encontrado</p>
</div>