.Aquaman{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(255, 187, 0);
    margin: 10px;
}

.Hulk{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(83, 155, 68);
    margin: 10px;
}

.Spider-Man{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(255, 59, 37);
    margin: 10px;
}

.Batman{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(43, 43, 43);
    margin: 10px;
    color: white;
}

.Linterna.Verde{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(31, 87, 17);
    margin: 10px;
    color: white;
}

.Wolverine{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(231, 208, 1);
    margin: 10px;
}

.Daredevil{
    border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(143, 14, 0);
    margin: 10px;
    color: white;
}

.AgregarHeroe{
	border-radius: 10px 10px 10px 10px;
    border: 0px solid;
    background-color: rgb(175, 175, 175);
    margin: 10px;
    color: rgb(43, 43, 43);
}

#container{
	margin: -50px 20px 0px 75px;
}

#biotxt{
    font-family: 'Boogaloo', cursive;
    font-size: 25px;
    text-align: center;
}

#titulo{
    font-family: 'Boogaloo', cursive;
    font-size: 60px;
    text-align: center;
}

#nombre{
    font-family: 'Boogaloo', cursive;
    font-size: 100px;
    text-align: center;
}

#imagen{
    padding: 0px 63px;
	margin: 0px;
	z-index: 0;
}

#Marvel{
	background-image: url(assets/img/marvel-logo.png);
	border-radius: 10px 10px 10px 10px;
	margin: 10px;
}

#DC{
	background-image: url(assets/img/dc-logo.png);
	border-radius: 10px 10px 10px 10px;
	margin: 10px;
}

#agregarImg{
	padding: 0px;
	margin: 75px 0px;
	width: 250px;
	height: 250px;
}

.btnMostrarMas{
    background-color: rgba(0, 0, 0, 0);
	color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    border: 3px solid;
    border-color: rgb(255, 255, 255);
	font-size: 20px;
	
}

.btnMostrarMas:hover{
    background-color: rgb(1, 175, 255);
    color: white;
}

.cardO{
    transition: 1s;
    margin: 5px;
}

.cardO:hover{
    background-color: rgb(228, 245, 255);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.50);
}

.infoHero{
	transition: 1s;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
}

.infoHero:hover{
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.50);
	transform: scaleY(1.05) scaleX(1.02);
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%; 		
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}

.btnBack{
    height: 50px;
    margin: 5px;
    position: relative;
    top: 300px;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(4%);
	}
	65%{
		transform: translateY(-3%);
	}
	80%{
		transform: translateY(2%);
	}
	95%{
		transform: translateY(-1%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(4%);
	}
	65%{
		-webkit-transform: translateY(-3%);
	}
	80%{
		-webkit-transform: translateY(2%);
	}
	95%{
		-webkit-transform: translateY(-1%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}

body{
	margin-top: 100px;
}